

table.calendar {
  width: 100%;
}

table.calendar, table.calendar th, table.calendar td {

  border-collapse: collapse;
  border: solid 1px #999;
}

table.calendar tr { 
  vertical-align: top;
}

table.calendar th, table.calendar td {
  width: 14%;
  min-height: 100px;
}

table.calendar .date {
}

table.calendar .event {
  background: #356208;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  border: solid 1px #172F00;
}

.gallery-view div img {
  width: 100%;
}


